<div class="container">
  <div>
    <div class="earth"></div>
  </div>

  <div class="container-caption">
    <h1>
      Consulta datos interesantes sobre los continentes y paises del mundo
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat impedit
      similique quia, nam, nostrum aspernatur amet blanditiis temporibus,
      aperiam delectus dignissimos! Enim id molestias exercitationem,
      perspiciatis numquam debitis delectus animi. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Nihil distinctio placeat ad. Earum, nam rem.
      Provident omnis, ullam animi reiciendis rem eius, repellendus odit soluta
      quos quam laudantium perferendis officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quod modi accusamus facere tenetur vero, eius quas ea distinctio perferendis soluta voluptates id, doloremque fugiat officiis tempore? Impedit, fugit corrupti?
      A dolor in, doloribus quae sapiente, assumenda doloremque, quidem cum dolore blanditiis cumque et dignissimos vel natus ut. Ab quisquam consectetur ullam commodi, ipsa repudiandae tempore nulla ad aperiam? Consectetur?
      Laborum optio earum praesentium quidem ipsa cum rerum nobis asperiores cupiditate veniam voluptas consequatur deleniti tenetur, deserunt non aliquam eaque ipsam dolore aut ullam. Pariatur distinctio beatae saepe delectus ullam.
    </p>
  </div>
</div>
